<div class="col-sm-4 side">
    <div class="side-one">


        <!-- Heading stuffs -->
        <div class="row heading">
            <div class="col-sm-3 col-xs-3 heading-avatar">
                <div class="heading-avatar-icon">
                    <img src="{{ request.user.userprofile.picture.url }}">
                </div>
            </div>

            <strong>{{ request.user.username }}</strong>

            <div class="col-sm-1 col-xs-1  heading-dot  pull-right">
                <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
            </div>

            <div class="col-sm-2 col-xs-2 heading-compose  pull-right">
                <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
            </div>
        </div>
        <!-- /Heading stuffs -->

        <!-- Search Box -->
        <div class="row searchBox">
            <div class="col-sm-12 searchBox-inner">
                <div class="form-group has-feedback">
                    <input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </div>
        </div>
        <!-- /Search Box -->

        <!-- Contacts -->

        <div class="row sideBar">
            {% for contact in contacts %}
            <a href="{% url 'chat:index'  contact.group.channel_name %}">
                <div class="row sideBar-body contact"
                     data-id="{{ contact.group.channel_name }}">
                    <div class="col-sm-3 col-xs-3 sideBar-avatar">
                        <div class="avatar-icon">
                            <img src="{{ contact.user_id.userprofile.picture.url }}">
                        </div>
                    </div>

                    <div class="col-sm-9 col-xs-9 sideBar-main">
                        <div class="row">
                            <div class="col-sm-8 col-xs-8 sideBar-name">
                  <span class="name-meta">{{ contact.user_id.username }}
                </span>
                            </div>

                            <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                  <span class="time-meta pull-right">18:18
                </span>
                            </div>
                        </div>
                    </div>
                </div></a>
            {% endfor %}



            {% for group in groups %}<a href="{% url 'chat:index'  group.channel_name %}">
                <div class="row sideBar-body group" data-id="{{ group.channel_name }}">
                    <div class="col-sm-3 col-xs-3 sideBar-avatar">
                        <div class="avatar-icon">
                            <img src="{{ group.picture.url }}">
                        </div>
                    </div>

                    <div class="col-sm-9 col-xs-9 sideBar-main">
                        <div class="row">
                            <div class="col-sm-8 col-xs-8 sideBar-name">
                  <span class="name-meta">{{ group.name }}
                </span>
                            </div>

                            <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                  <span class="time-meta pull-right">18:18
                </span>
                            </div>
                        </div>
                    </div>
                </div></a>
            {% endfor %}

        </div>

        <!-- /Contacts -->


    </div>


    <!-- --------------------------SECOND SIDEBAR PAGE------------------------------------- -->


    <div class="side-two">

        <!-- GREEN HEADER NEW CHAT LABELED -->
        <div class="row newMessage-heading">
            <div class="row newMessage-main">
                <div class="col-sm-2 col-xs-2 newMessage-back">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
                <div class="col-sm-10 col-xs-10 newMessage-title">
                    New Chat
                </div>
            </div>
        </div>
        <!-- /GREEN HEADER NEW CHAT LABELED -->


        <!-- SEARCHBOX -->
        <div class="row composeBox">
            <div class="col-sm-12 composeBox-inner">
                <div class="form-group has-feedback">
                    <input id="composeText" type="text" class="form-control" name="searchText"
                           placeholder="Search People">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </div>
        </div>
        <!-- /SEARCHBOX -->

        <div class="row compose-sideBar">


            <div class="row sideBar-body">
                <div class="col-sm-3 col-xs-3 sideBar-avatar">
                    <div class="avatar-icon">
                        <img src="">
                    </div>
                </div>
                <div class="col-sm-9 col-xs-9 sideBar-main">
                    <div class="row">
                        <div class="col-sm-8 col-xs-8 sideBar-name">
                  <span class="name-meta">John Doe
                </span>
                        </div>
                        <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                  <span class="time-meta pull-right">18:18
                </span>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <!-- --------------------------SECOND SIDEBAR PAGE -------------------- -->

</div>
